<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>BSALE</title>

        <!-- Estilos -->
        {% load static %}
        <link href="{% static 'tienda/css/stylesheet.css' %}" rel="stylesheet">

        <!-- GoogleFonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&display=swap">

        <!-- FontAwesome -->    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- Cabecera -->
        <header style="background-color: #2fc78a;">
            <div>
                <div>
                    <div>
                        <h1>BSALE</h1>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Contenido -->
        {% block content %}{% endblock %}

    </body>
    
    
</html>