<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>BSALE</title>

        <!-- Estilos -->
        {% load static %}
        <link href="{% static 'tienda/css/stylesheet.css' %}" rel="stylesheet">

        <!-- GoogleFonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&display=swap">

        <!-- FontAwesome -->    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- Cabecera -->
        <header class="header" style="background-color: #ED553B; width: 100%">
            <div>
                <div class="price">
                    <div>
                        <a class="without" href="{% url 'home' %}"><h1 class="title">Bsale Test</h1></a>
                    </div>
                    <div class="container" style="align-items: center;">
                        <input type="text" id="searchText" maxlength="30" minlength="4" placeholder="Minimo palabra de 3 letras" required>
                        <button id="searchBtn" class="icon-header"><i class="fa fa-search"></i></button>
                        <a class="icon-header" href="#"><i class="fa fa-shopping-basket"></i></a>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Contenido -->
        <div id="container-products">
        {% block content %}{% endblock %}
        </div>

    </body>
    <script>
        let searchBtn = document.getElementById("searchBtn");

        searchBtn.addEventListener("click", function(){
            let searchText = encodeURIComponent(document.getElementById("searchText").value.trim());
            if (searchText.length >= 3 && searchText.length <= 30){
                const url = "{% url 'search_asyn' %}" + "?text=" + searchText;
                fetch(url).then(response => response.json()).then(function(data){
                    
                    var container = document.getElementById('container-products');
                    // Limpia el div container-products
                    while (container.hasChildNodes()){
                        container.removeChild(container.firstChild)
                    }

                    let div_cont = document.createElement('div');
                    div_cont.classList.add('container'); 
                    
                    data['page_products'].forEach(fillProducts);

                    
                    container.appendChild(div_cont);
                    

                    function fillProducts(product){ 

                        let div_element = document.createElement('div');
                        div_element.classList.add('element');                       

                        let div_price = document.createElement('div');
                        div_price.classList.add('price');

                        div_price.innerHTML = 
                            "<p style='font-size: 25px;'>" + product['price'] + "</p>" + 
                            "<button><i class='fa fa-shopping-basket'></i></button>";
                        
                        let subdiv = document.createElement('div');

                        let defaul_image = "{% static 'tienda/img/photo_640.png' %}";
                        if (product['url'] !== null){
                            defaul_image = decodeURIComponent(product['url'])
                        }

                        subdiv.innerHTML = 
                            "<p style='font-size: 18px;'>" + product['name'] + "</p>" +
                            "<img src='" + defaul_image + "' alt='' style='width:100%'>"
                        
                        div_element.appendChild(div_price);
                        div_element.appendChild(subdiv);
                        div_cont.appendChild(div_element);                                                
                    }

                })
                
            }
        })
    </script>
    
    
</html>