{% extends "tienda/base.html" %}

{% load static %}

{% block option_category %}
    {% for category in categories %}
        <option value="{{category.id}}">{{category.capitalized_name}}</option>
    {% endfor %}
{% endblock %} 

{% block content %}
    <!-- Carga el contenido inicial de la pagina --> 
    <script>
        const url = "{% url 'home' %}" + 'api/v1/products/';
        const default_image = "{% static 'tienda/img/photo_640.png' %}";
        loadElements(url, default_image);
    </script>
{% endblock %}