{% extends "tienda/base.html" %}

{% load static %}

{% block content %}
    <!-- Productos -->
    {% if products %}
        <div class="container">
        {% for product in products %}
            <div class="element">
                <div class="price">
                    <p style="font-size: 25px;">${{product.price}}</p>
                    <button><i class="fa fa-shopping-basket"></i></button>                
                </div>
                <p style="font-size: 18px;">{{product.name}}</p>
                {% if product.url_image %}
                    <img src="{{product.url_image}}" alt="" style="width:100%">
                {% else %}
                    <img src="{% static 'tienda/img/photo_640.png' %}" alt="" style="width:100%">
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% else %}
    <div style="margin-left: 20px;">
        <h1>No se encontraron coincidencias</h1>
    </div>    
    {% endif %}
    
{% endblock %}